.Players {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  text-align: center;
}

.Players input {
  width: 250px;
  height: 50px;
  margin-top: 10px;
  font-size: 30px;
  border: none;
  background-color: #3a86ff;
  color: white;
  border-bottom: 5px solid #3a86ff;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.Players input::placeholder {
  color: white;
}

.Players input[disabled] {
  cursor: not-allowed;
}

.Players input:focus {
  outline: none;
  box-shadow: 0px 0px 7px 2px rgb(172, 172, 172);
}

.Players input:focus::placeholder {
  color: brown;
  opacity: 0;
}

.Players input:focus {
  cursor: auto;
}

.Count {
  color: #fb5607;
  display: flex;
  justify-content: space-evenly;
  line-height: 24px;
  margin-top: 50px;
  font-size: 100px;
  font-weight: bold;
  /* text-shadow: -10px 0px #ff0000; */

  /* transform: skew(30deg, 0deg); */
  /* filter: drop-shadow(-30px 0px 4px #975e44); */
}

@media (max-width: 540px) {
  .Players input {
    width: 200px;
    height: 50px;
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    text-align: center;
  }
  .Players {
    flex-direction: column;
    align-items: center;
  }
} ;
